// Font icon
@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
        url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-plus:before {
    content: "\f067";
}
.fa-minus:before {
    content: "\f068";
}
.fa-long-arrow-right:before {
    content: "\f178";
}
.fa-file-pdf-o:before {
    content: "\f1c1";
}
.fa-money:before {
    content: "\f0d6";
}
.fa-book:before {
    content: "\f02d";
}
.fa-trophy:before {
    content: "\f091";
}
.fa-user:before {
    content: "\f007";
}
.fa-youtube-play:before {
    content: "\f16a";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: "\f1c5";
}
p {
    margin-bottom: 10px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
@font-face {
    font-family: "Rubik-Regular";
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: "Rubik-Bold";
    src: url(../fonts/Rubik-Bold.ttf);
}
@font-face {
    font-family: "Rubik-SemiBold";
    src: url(../fonts/Rubik-SemiBold.ttf);
}
$fontBold: "Rubik-Bold";
$fontRegular: "Rubik-Regular";
$fontSemiBold: "Rubik-SemiBold";
@mixin btnAction($bColor, $tColor) {
    border: 2px solid;
    border-color: $bColor;
    color: $tColor;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.4s ease-out 0s;
}
@mixin sectionHeading($color, $algin, $bMargin) {
    font-size: calc(29px + (48 - 29) * (100vw - 320px) / (1920 - 320));
    font-family: $fontSemiBold;
    color: $color;
    text-align: $algin;
    margin-bottom: $bMargin;
}
@mixin unOrderList {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

body {
    margin: 0px;
    font-family: "Rubik-Regular";
    line-height: 1.6;
    font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1920 - 320));
    background-color: #fff;
}
.img-fluid {
    max-width: 100%;
}
.container {
    max-width: 1320px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin: 0px auto;
}
.container-fluid {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
}
header {
    .logoSection {
        background-color: rgb(0, 30, 84);
        padding: 8px 0px;
        .container {
            display: grid;
            grid-template-columns: 65px 106px 1fr;
            grid-gap: 20px;
            align-items:center; 
            .epmlText {
                align-self: center;
            }
            .loginLink {
                justify-self: end;
                align-self: center;
                .btnUserLogin {
                    @include btnAction(#fff, #fff);
                    &:hover {
                        background-color: #fff;
                        color: #001e54;
                    }
                }
            }
        }
    }
}
.sliderSection {
    .mainSlider {
        .item {
            position: relative;
            .caption {
                position: absolute;
                height: 100%;
                z-index: 100;
                width: 100%;
                top: 0;
                display: grid;
                align-items: center;
                left: 17%;
                h1 {
                    font-size: calc(20px + (48 - 29) * (100vw - 320px) / (1920 - 320));
                    font-family: "Rubik-Bold";
                    width: 42%;
                    color: #fff;
                }
            }
        }
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 0px;
        z-index: 10000;
        position: absolute;
        bottom: 15px;
        width: 100%;
    }
}

.aboutSection {
    padding: 70px 0px;
    h2 {
        @include sectionHeading(#000, center, 40px);
    }
    .desc {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        align-items: center;

        p {
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .bottomAction {
        text-align: center; 

        a { 
            text-decoration: none; 
            text-transform: uppercase;
            color: #000;
            font-size: 1.2rem;
        }
    }
    .aboutVideoBox {
        margin-top: 60px;

        h2 {
            margin-bottom: 20px;
        }
        p{
            text-align: center;
        }
    }
}
.atGlanceSection {
    padding: 70px 0px;

    h2 {
        @include sectionHeading(#000, center, 40px);
    }
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        .item {
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
            color: #fff;
            border: 8px solid #fff;
            .desc {
                padding: 20px;
                text-align: center;

                i {
                    font-size: calc(45px + (48 - 18) * (100vw - 320px) / (1920 - 320));
                }
                h4 {
                    font-size: calc(18px + (22 - 18) * (100vw - 320px) / (1920 - 320));
                    margin-top: 15px;
                }
            }

            span {
                background-color: #fff;
                position: relative;
                bottom: -2px;  
                padding: 5px 25px;
                font-size: calc(18px + (27 - 18) * (100vw - 320px) / (1920 - 320));
                color: #000;
            }
            &:nth-child(1) {
                background-color: #51d657;
            }
            &:nth-child(2) {
                background-color: #ff5d94;
            }
            &:nth-child(3) {
                background-color: #fc8720;
            }
            &:nth-child(4) {
                background-color: #bd5dff;
            }
        }
    }
}
.ourPeople {
    padding: 70px 0px 0px;
    h2 {
        @include sectionHeading(#000, center, 40px);
    }
    .peopleContainer {
        display: grid;
        grid-template-columns: 30% 25% 45%;

        .item {
            h3 {
                font-size: 1.7rem;
                font-family: $fontSemiBold;
                margin-bottom: 20px;

                a {
                    font-size: 1rem;
                    float: right;
                    color: #000;
                    text-decoration: none;
                    top: 15px;
                    position: relative;
                }
            }
            h5 {
                font-size: 1.3rem;
                font-family: $fontSemiBold;
            }
            &:nth-child(1) {
                background-color: #00afef;
                padding: 50px 30px 50px 200px;

                h5 {
                    margin-top: 10px;
                }
            }
            &:nth-child(2) {
                background-color: #00afef62;
                padding: 50px 85px 50px 50px;

                h5 {
                    margin-top: 10px;
                }
            }
            &:nth-child(3) {
                background-color: #d1d3d4;
                padding: 50px 200px 50px 50px;

                .memberContainer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 15px;
                    font-size: 0.9rem;
                    .mitem {
                        background-color: #fff;
                        border-radius: 10px;
                        padding: 15px;
                        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
                        img {
                            max-width: 100%;
                        }
                        span {
                            display: block;
                            margin-top: 5px;
                        }
                        h5 {
                            margin-top: 15px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
.newsEpmlSection {
    padding: 70px 0px;
    h2 {
        @include sectionHeading(#000, center, 40px);
    }
    .newsSlider {
        .item {
            border-radius: 10px;
            font-size: 1.1rem;
            overflow: hidden;
            .desc {
                
                padding: 20px;
                background-color: #eaececb2;
                min-height: 195px;
                position: relative;
                .date {
                    display: block;
                    color: #ea2f24;
                    margin-top: 10px;
                    text-transform: uppercase;
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    font-size: 1.1rem;
                }
            }
        }
        span {
            font-size: 70px;
            position: relative;
            top: -5px;
        }
        .owl-nav button:focus {
            outline: none;
        }
        .owl-nav button {
            position: absolute;
            top: 50%;
            background-color: #000;
            color: #fff;
            margin: 0;
            transition: all 0.3s ease-in-out;
            z-index: 100;
        }
        .owl-nav button.owl-prev {
            left: -40px;
        }
        .owl-nav button.owl-next {
            right: -40px;
        }
    }
    .bottomAction {
        margin-top: 50px;
        text-align: center;
        .btnViewAll {
            @include btnAction(#000, #000);
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}
.eventAnnoucement {
    padding: 70px 0px;
    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 70px;
    }
    h2 {
        @include sectionHeading(#000, left, 40px);
        a {
            @include btnAction(#000, #000);
            font-size: 0.8rem;
            float: right;
        }
    }
    .eventItem {
        .eventSlider {
            .item {
                border-top: 5px solid #59f385;
                h3 {
                    font-size: 2rem;
                    font-family: $fontSemiBold;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
                span {
                    background-color: #0a5189;
                    padding: 5px 10px;
                    color: #fff;
                    font-size: 1.2rem;
                }
                p {
                    display: block;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                a {
                    color: #0a5189;
                    font-family: $fontSemiBold;
                    text-decoration: none;
                }
            }
        }
    }
    .annoucementItem {
        ul {
            @include unOrderList();
            li {
                padding: 7px 0px;
                font-size: 1.2rem;
                a {
                    color: #043785;
                    text-decoration: none;
                }
            }
        }
    }
}

.researchSection {
    padding: 70px 0px;
    background-color: #d1d3d4;
    h2 {
        @include sectionHeading(#000, center, 40px);
    }
    .container {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-gap: 15px;

        .item {
            overflow: hidden;
            position: relative;

            img {
                height: 100%;
                max-width: 100%;
            }
            .caption {
                position: absolute;
                bottom: 20px;
                color: #fff;
                padding: 30px;
                h5 {
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
           
        }
    }
}
.indusCollaboration {
    padding: 70px 180px;
    h2 {
        @include sectionHeading(#000, center, 40px);
    }
    .logoContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 80px;
        .item {
            h4 {
                font-family: $fontSemiBold;
                font-size: 2rem;
                border-bottom: 2px solid #ccc;
                border-top: 2px solid #ccc;
                padding: 5px 0px;
            }
            h5 {
                font-size: 1.3rem;
                margin-bottom: 15px;
            }
            

            &:nth-child(1) {
                .catBoxRow {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    height: 303px; 
                    min-height: 303px;
                    .item {
                        // height: 257px;
                        background-color: #0165ff;
                        padding: 10px;
                        color: #fff;   
                        .logoRow {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            grid-gap: 5px;
                            .litem {
                                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
                                display: grid;
                                align-items: center;
                                border: 1px solid #ccc;
                               
                            }
                        }
                    }
                }

              
            }
            &:nth-child(2) {
                .catBoxRow {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    height: 303px;
                    min-height: 303px;
                    .item {
                        .logoRow{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-gap: 5px;
                        }
                        &:nth-child(1) {
                            background-color: #ff9800;
                            padding: 10px;
                            color: #fff;
                           
                        }
                        &:nth-child(2) {
                            background-color: #ffc107;
                            padding: 10px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.publicationSection {
    padding: 70px 0px;
    background-color: #0a48a8;
    h2 {
        @include sectionHeading(rgb(255, 255, 255), center, 40px);
    }

    .accordion-container {
        position: relative;
        height: auto;
        margin: 10px auto;
    }
    .accordion-container > h2 {
        text-align: center;
        color: #fff;
        padding-bottom: 5px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }
    .set {
        position: relative;
        width: 100%;
        height: auto;
    }
    .set > a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: rgb(223, 223, 223);
        border-bottom: 1px solid #ddd;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .set > a i {
        float: right;
        margin-top: 2px;
    }
    .set > a.active {
        color: #fff;
    }
    .content {
        display: none;

        ul {
            @include unOrderList();
            li {
                padding: 8px 0px;
            }
        }
    }
    .content p {
        padding: 10px 15px;
        margin: 0;
        color: #333;
    }
}
footer {
    background-color: #001e54;
    padding: 40px 0px;
    color: #fff;
    .container {
        display: grid;
        grid-template-columns: 1fr 440px 1fr 1fr;
        grid-gap: 20px;
        .item {
            &:nth-child(1) {
                h3 {
                    margin-top: 8px;
                    font-family: $fontBold;
                    color: #458eff;
                    font-size: 1.7rem;
                }
                h5 {
                    text-transform: uppercase;
                }
            }
            &:nth-child(2) {
                h6 {
                    font-family: $fontSemiBold;
                    font-size: 1rem;
                }
            }
            &:nth-child(3) {
                .footerLink {
                    ul {
                        @include unOrderList();
                        li {
                            padding: 5px 0px;
                            a {
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.insideBanner {
    padding: 120px 0px;
    background-image: url(../images/slider1.webp);
    h1 {
        color: #fff;
        font-family: $fontSemiBold;
        font-size: 3rem;
    }
}
.insideBodyContent {
    padding: 40px 0px;
}
.full-width {
    padding: 0px;
}
.eventListing {
    .listRow {
        display: grid;
        grid-template-columns: 150px 1fr;
        row-gap: 15px;
        .itemDate {
            background-color: #ccc;
            padding: 15px;
            text-align: center;
            border: 1px solid #ccc;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            h4 {
                font-family: $fontSemiBold;
                font-size: 1.5rem;
            }
            span {
                background-color: #898989;
                padding: 4px 30px;
                color: #fff;
            }
        }
        .itemTitle {
            border: 1px solid #ccc;
            padding: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            display: grid;
            align-items: center;
            a {
                color: #000;
                text-decoration: none;

                h5 {
                    font-size: 1.2rem;
                    color: #001e54;
                    margin-top: 14px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.eventDetailcontent {
    h4 {
        font-size: 1.5rem;
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 20px;
        span {
            display: block;
            color: #938f8f;
            font-size: 1.3rem;
            margin-top: 10px;
        }
        &::before {
            content: "";
            width: 50%;
            height: 5px;
            background-color: #001e54;
            position: absolute;
            bottom: 0px;
        }
        &::after {
            content: "";
            width: 50%;
            height: 5px;
            background-color: #0165ff;
            position: absolute;
            bottom: 0px;
            right: 0;
        }
    }
}
.newsListing {
    ul {
        @include unOrderList();

        li {
            padding: 0px;
            display: grid;
            grid-template-columns: 1fr 350px;
            background-color: #edecec;
            align-items: center;
            margin: 10px 0px;
            .itemDesc {
                padding: 20px;

                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 1.3rem;

                    span {
                        display: block;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
.table > thead {
    vertical-align: bottom;
}
tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
}
.table > :not(caption) > * > * {
    padding: 0.8rem 0.8rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
    vertical-align: inherit;
}
.tabljlList {
    thead {
        background-color: #001e54;
        color: #fff;
    }
    tbody {
        tr {
            td {
                vertical-align: middle;
                .btnPdf {
                    background-color: #ccc;
                    padding: 8px 40px;
                    border-radius: 50px;
                    color: red;
                }
            }

            &:nth-child(even) {
                background-color: rgba(233, 229, 229, 0.507);
            }
        }
    }
}
.filtterBox {
    display: grid;
    grid-template-columns: 250px 250px 1fr 1fr 140px;
    grid-gap: 20px;
    margin-bottom: 20px;
    .item {
        &:last-child {
            .btnSearch {
                background-color: #0165ff;
                text-align: center;
                width: 100%;
                color: #fff;
                display: grid;
                align-items: center;
                text-decoration: none;
                height: 100%;
            }
        }
    }
}
.formControl {
    border: 1px solid #ccc;
    width: 100%;
    height: 35px;
}
.homePublicationRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    font-size: 1.5rem;
    text-align: center;
    grid-gap: 30px;
    align-items: center;
    .item {
        border: 1px solid #fff;
        color: #fff;
        padding: 30px 20px;

        a {
            color: #fff;
            text-decoration: none;
        }

        &:nth-child(1) {
            background-color: #607d8b;
        }
        &:nth-child(2) {
            background-color: #03b1ffc7;
        }
        &:nth-child(3) {
            background-color: #8bc34a;
        }
        &:nth-child(4) {
            background-color: #009688;
        }
    }
}
.insideMembarBoxRow {
    .piInside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .imgInfoRow {
            .imgBox {
                position: relative;

                .btnViewDetails {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #000;
                    color: #fff;
                    padding: 3px 15px;
                    text-decoration: none;
                }
            }
        }
        .item {
            padding: 40px;
            &:nth-child(1) {
                background-color: #00afef;
                h3 {
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                }
                .imgInfoRow {
                    display: grid;
                    grid-template-columns: 200px 1fr;
                    grid-gap: 30px;

                    .info {
                        h5 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &:nth-child(2) {
                background-color: #00afef82;
                h3 {
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                }
                .imgInfoRow {
                    display: grid;
                    grid-template-columns: 200px 1fr;
                    grid-gap: 30px;

                    .info {
                        h5 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

.insideMemberStaff {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    font-size: 0.9rem;
    .mitem {
        background-color: rgb(235, 231, 231);
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
        .imgBox {
            position: relative;
        }
        .btnViewDetails {
            background-color: #0165ff;
            position: absolute;
            bottom: -4px;
            right: 0px;
            padding: 7px 20px;
            color: #fff;
            text-decoration: none;
            opacity: 0;
        }
        img {
            max-width: 100%;
        }

        span {
            display: block;
            margin-top: 5px;
        }
        h5 {
            margin-top: 20px;
            font-size: 1.2rem;
        }
        &:hover {
            .btnViewDetails {
                opacity: 100; 
            } 
        }
    }
}
.memberDetailRow {
    display: grid;
    grid-template-columns: 300px 1fr;
    .profilePic {
        margin-top: 60px;
        z-index: 20;
    }
    .profileinfo {
        background-color: #009688;
        padding: 50px 50px 50px 100px;
        color: #fff;
        margin-left: -50px;
        z-index: 10;
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 1.5rem;
            margin-bottom: 15px;
            small {
                display: block;
                font-size: 1rem;
            }
        }
        h5 {
            font-size: 1.5rem;
            margin-top: 30px;
        }
    }
}
.newsDetailRow {
    display: grid;
    grid-template-columns: 300px 1fr;
    .profilePic {
        margin-top: 60px;
    }
    .profileinfo {
        background-color: #ededed;
        padding: 50px 50px 50px 100px;
        margin-left: -50px;
        z-index: -10;

        h4 {
            font-size: 1.5rem;
            margin-bottom: 15px;
            small {
                display: block;
                font-size: 1rem;
            }
        }
        h5 {
            font-size: 1.5rem;
            margin-top: 30px;
        }
    }
}
.researchDeveDetailRow {
    display: grid;
    grid-template-columns: 300px 1fr;
    .profilePic {
        margin-top: 60px;
    }
    .profileinfo {
        background-color: #ededed;
        padding: 50px 50px 50px 100px;
        margin-left: -50px;
        z-index: -10;

        h4 {
            font-size: 1.5rem;
            margin-bottom: 15px;
            small {
                display: block;
                font-size: 1rem;
            }
        }
        h5 {
            font-size: 1.5rem;
            margin-top: 30px;
        }
    }
}
.insideNewsListingRow {
    display: grid;
    grid-template-columns: 265px 1fr;
    .newsImgBox {
        position: relative;
        .btnViewDetails {
            background-color: #0165ff;
            color: #fff;
            padding: 4px 30px;
            text-decoration: none;
            position: absolute;
            left: 0;
            bottom: 7px;
            border: 1px solid #fff;
        }
    }
    .newsDetailinfo {
        .desc {
            background-color: #ededed;
            padding: 9px 40px; 
            h4 {
                font-size: 1.5rem;
                margin-bottom: 20px;
                small {
                    display: block;
                    font-size: 1rem;
                    margin-top: 10px;
                }
            }
        }
    }
}
.RDRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .item {
        border-radius: 10px;
        overflow: hidden;
        .imgBox {
            max-height: 300px;
            position: relative;
            overflow: hidden;
            .overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                bottom: -100%;
                background-color: rgba(0, 0, 0, 0.452);
                padding: 20px;
                text-transform: uppercase;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
                a {
                    color: #fff;
                    text-decoration: none;
                    border: 1px solid #fff;
                    padding: 10px 30px;
                }
            }
        }
        .desc {
            background-color: rgb(228, 228, 228);
            padding: 20px;
            h4 {
                font-size: 1.5rem;
                a {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
        &:hover {
            .imgBox {
                .overlay {
                    bottom: 0%;
                }
            }
        }
    }
}
.announcementList {
    ul {
        @include unOrderList();
        li {
            padding: 0px 0px;
            border-left: 5px solid #000;
            background-color: #ccc;
            padding: 15px;
            margin: 10px 0px;
        }
    }
}
.aboutRow {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 80px;
    .aboutImg {
        position: relative;
        img {
            border: 5px solid #fff;
        }
        &::before {
            content: "";
            height: 150px;
            width: 150px;
            background-color: #0166ff;
            position: absolute;
            z-index: -10;
            bottom: 0;
            left: -32px;
        }
    }
}
.misionVissionSection {
    background-color: #f2f2f2;
    padding: 70px 0px;
    .missionVissionRow {
        display: grid;
        background-repeat: no-repeat;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px;
        align-items: center;
        .item {
            &:nth-child(2) {
                position: relative;
                z-index: 100;
                img {
                    border: 5px solid #fff;
                }
                &::before {
                    content: "";
                    height: 310px;
                    width: 50%;
                    background-color: #ff9c00;
                    position: absolute;
                    right: -40px;
                    z-index: -10;
                    bottom: -30px;
                }
            }
        }
    }
}
.researchStatementsSection {
    padding: 50px 0px;

    .container-fluid {
        padding: 0px 150px;
    }
    .researchRow {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
        text-align: center;
        row-gap: 120px;
        margin-top: 50px;
        .item {
            padding: 15px;

            h5 {
                font-size: 25px;
                border-bottom: 2px solid #001e54;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }
            img {
                width: 120px;
                height: 120px;
                border-radius: 100px;
                background-color: #00afef;
                padding: 20px;
                margin-top: -90px;
                border: 2px solid rgb(255, 255, 255);
            }

            &:nth-child(1) {
                background-color: #4caf50;
                color: #fff;
            }
            &:nth-child(2) {
                background-color: #cddc39;
                color: rgb(0, 0, 0);
            }
            &:nth-child(3) {
                background-color: #009688;
                color: #fff;
            }
            &:nth-child(4) {
                background-color: #5f94f3;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: #ff5722;
                color: #fff;
            }
        }
    }
}

.bgLabContent {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-gap: 70px;
    align-items: center;
}
.traingList {
    ul {
        @include unOrderList();
        li {
            padding: 0px 0px;
            display: grid;
            grid-template-columns: 200px 1fr 250px;
            grid-gap: 20px;
            background-color: #ebebeb;
            margin: 15px 0px;
            border: 1px solid #dfdcdc;
            .btnStudy {
                background-color: #0165ff;
                text-align: center;
                border-radius: 50px;
                text-decoration: none;
                padding: 5px 15px;
                color: #fff;
            }

            .item {
                display: grid;
                align-items: center;
                padding: 20px;
                &:nth-child(1) {
                    background-color: #001e54;
                    color: #fff;
                }
            }
        }
    }
}
.traingDetails {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 50px;
    .itemInfo {
        h4 {
            font-size: 40px;
        }
    }
    .itemFileInfo {
        .pdfList {
            ul {
                @include unOrderList();

                li {
                    padding: 8px 0px;
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-gap: 10px;
                    border-bottom: 1px solid #ccc;
                    .filePic {
                        background-color: #ef0000;
                        color: #fff;
                        display: grid;
                        align-items: center;
                        justify-content: center;

                        font-size: calc(18px + (28 - 18) * (100vw - 320px) / (1920 - 320));
                    }
                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
        .imgList {
            margin-top: 40px;
            ul {
                @include unOrderList();

                li {
                    padding: 8px 0px;
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-gap: 10px;
                    border-bottom: 1px solid #ccc;
                    .filePic {
                        background-color: #ececec;
                        color: rgb(0, 0, 0);
                        display: grid;
                        align-items: center;
                        justify-content: center;

                        font-size: calc(18px + (28 - 18) * (100vw - 320px) / (1920 - 320));
                    }
                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
        .videoList {
            margin-top: 40px;
            ul {
                @include unOrderList();

                li {
                    padding: 8px 0px;
                    display: grid;
                    grid-template-columns: 50px 1fr;
                    grid-gap: 10px;
                    border-bottom: 1px solid #ccc;
                    .filePic {
                        background-color: #ef0000;
                        color: #fff;
                        display: grid;
                        align-items: center;
                        justify-content: center;

                        font-size: calc(18px + (28 - 18) * (100vw - 320px) / (1920 - 320));
                    }
                    &:last-child {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}

.keyResearchRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    .item {
        padding: 25px 15px;
        text-align: center;
        display: grid;
        justify-items: center;
        align-items: center;
        h4 {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 0px;
            color: #fff;
        }
        img {
            width: 150px;
            height: 150px;
            border: 2px solid #fff;
            border-radius: 100%;
            padding: 20px;
        }
        &:nth-child(1) {
            background-color: #23bf49;
        }
        &:nth-child(2) {
            background-color: #e30fc3;
        }
        &:nth-child(3) {
            background-color: #f13f3f;
        }
        &:nth-child(4) {
            background-color: #824caf;
        }
        &:nth-child(5) {
            background-color: #009688;
        }
    }
}

.contactRow {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px;
    .contacBox {
        background-color: #f3f3f3;
        padding: 20px;
        border-left: 5px solid #a7a7a7;

        h4{
            font-size: 22px;
            color: #001e54; 
        }
    }
}
.partnerBox{
    margin-bottom: 50px;
    h4{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .pLogoRow{
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-gap: 15px;
        .item{
            border: 1px solid #ccc;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
        }
    }
}
@media screen and (max-width: 1680px) {
    .ourPeople .peopleContainer .item:nth-child(1) {
        background-color: #00afef;
        padding: 50px 50px 50px 190px;
    }
    .ourPeople .peopleContainer .item:nth-child(2) {
        background-color: #d1d3d4;
        padding: 50px 175px 50px 50px;
    }
    .indusCollaboration .logoContainer .item:nth-child(1) .catBoxRow {
        height: 303px;
        min-height: 303px;
    }
    .indusCollaboration .logoContainer .item:nth-child(2) .catBoxRow {
        height: 303px;
        min-height: 303px;
    }

}

@media screen and (max-width: 1600px) {
    .sliderSection .mainSlider .item .caption {
        left: 10%;
    }
}
@media (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }

    .indusCollaboration .logoContainer .item:nth-child(1) .catBoxRow .item {
        // height: 214px;
        background-color: #0165ff;
        padding: 10px;
        color: #fff;
    }
  
    
}


@media (min-width: 768px) and (max-width: 1366px) {  
    .indusCollaboration {
        padding: 70px 60px;
    }
    .indusCollaboration .logoContainer .item:nth-child(1) .catBoxRow .item {
        height: auto;
        background-color: #0165ff;
        padding: 10px;
        color: #fff;
    }
 }


@media all and (max-width: 768px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
    only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
    only screen and (min-resolution: 192dpi) and (max-width: 1024px),
    only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .ourPeople .peopleContainer .item:nth-child(1) {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    .ourPeople .peopleContainer .item:nth-child(2) {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }
    .ourPeople .peopleContainer {
        grid-template-columns: 1fr;
    }
    .container {
        max-width: 100%;
    }
    .ourPeople .peopleContainer .item:nth-child(2) .memberContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
        .mitem {
            &:nth-child(3) {
                grid-column: 1/3;
            }
        }
    }
    .researchSection .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .eventAnnoucement .container {
        grid-template-columns: 1fr;
        display: block;
    }
  
   

    .atGlanceSection .container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    header .logoSection .container {
        grid-template-columns: 34px 60px 1fr;
        grid-gap: 10px;
    }
    .sliderSection .mainSlider .item .caption {
        left: 15px;
        width: 95%;
    }
    nav {
        background-color: #0265ff;
    }
    .sliderSection .mainSlider .item .caption h1 {
        width: 100%;
    }
    .aboutSection,
    .atGlanceSection,
    .ourPeople,
    .newsEpmlSection,
    .eventAnnoucement,
    .researchSection,
    .indusCollaboration,
    .publicationSection {
        padding: 20px 0px;
    }
    .aboutSection .aboutVideoBox {
        margin-top: 20px;
    }
    .newsEpmlSection .newsSlider .owl-nav button.owl-next {
        right: 0px;
    }
    .newsEpmlSection .newsSlider .owl-nav button.owl-prev {
        left: 0px;
    }
    .newsEpmlSection .newsSlider .item .desc {
        min-height: auto;
    }
    .eventAnnoucement h2 {
        margin-bottom: 10px;
    }
    .researchSection h2 {
        margin-bottom: 10px;
    }
    footer .container {
        grid-template-columns: 1fr;
    }
    .newsEpmlSection .newsSlider .item .desc .date {
        display: block;
        color: #ea2f24;
        margin-top: 10px;
        text-transform: uppercase;
        position: relative;
        bottom: 0;
        left: 0;
        font-size: 1.1rem;
    }
    .tab_content {
        padding: 10px;
    }
    .journalRow {
        grid-template-columns: 1fr;
    }
    .insideBanner {
        padding: 20px 0px;
    }
    .journalRow .right .journalList .item {
        grid-template-columns: 1fr;
    }
    .indusCollaboration .logoContainer {
        grid-template-columns: 1fr;
    }
    .filtterBox {
        grid-template-columns: 1fr;
    }
    .homePublicationRow {
        grid-template-columns: 1fr;
    }
    .insideMembarBoxRow .piInside,
    .insideMemberStaff,
    .insideMembarBoxRow .piInside .item:nth-child(1) .imgInfoRow,
    .insideMembarBoxRow .piInside .item:nth-child(2) .imgInfoRow {
        grid-template-columns: 1fr;
    }
    .memberDetailRow {
        grid-template-columns: 1fr;
    }
    .memberDetailRow .profileinfo {
        margin-left: 0px;
        padding: 20px;
    }
    .memberDetailRow .profilePic {
        margin-top: 0px;
    }
    .newsDetailRow .profilePic {
        margin-top: 0px;
    }
    .newsDetailRow {
        grid-template-columns: 1fr;
    }
    .newsDetailRow .profileinfo {
        margin-left: 0px;
        padding: 20px;
    }
    .insideNewsListingRow {
        grid-template-columns: 1fr;
    }
    .insideNewsListingRow .newsDetailinfo .desc {
        padding: 20px;
    }
    .aboutSection .desc {
        grid-template-columns: 1fr;
    }
    .ourPeople .peopleContainer .item:nth-child(3) {
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
    .indusCollaboration .logoContainer {
        grid-gap: 15px;
    }
    .indusCollaboration .logoContainer .item .catBoxRow .item {
        height: auto;
    }
    .bgLabContent{
        grid-template-columns: 1fr; 
    }
    .misionVissionSection .missionVissionRow{
        grid-template-columns: 1fr;
    }
    .misionVissionSection .missionVissionRow .item:nth-child(2)::before{
        display: none;
    }
    .misionVissionSection{
        padding: 20px 0px;
    }
    .keyResearchRow{
        grid-template-columns: repeat(2, 1fr);
    }
    .researchStatementsSection .researchRow{
        grid-template-columns: 1fr;
    }
    .partnerBox .pLogoRow{ 
        grid-template-columns: repeat(2, 1fr);
    }
    .partnerBox .pLogoRow{
        grid-template-columns: repeat(2, 1fr);
    }
    .contactRow{
        grid-template-columns: 1fr;
    }
    .researchStatementsSection .container-fluid{
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
    }
}
@media only screen and (max-width: 600px) {
    .ourPeople .peopleContainer .item:nth-child(3) .memberContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .researchSection .container .item img {
        height: 100%;
        width: 100%;
    }
    .indusCollaboration .logoContainer .item:nth-child(2) .catBoxRow{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
